* h1 {
    color: white;
}

body {
    background: url(../PHOTOS/background.jpg) center/cover no-repeat;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
}

header {
    background-color: rgb(1, 1, 37);

    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0%;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 250px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    background-color: rgb(1, 1, 43);
    color: rgb(255, 255, 255);

    border-radius: 10px;
    padding: 5px;
    margin: 0%;
    margin-top: 5px;   
}

.footer-logo {
    width: 50px;
}

.platforms {
    width: 30px;
    background-color: rgb(126, 208, 255);
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 5px;
}

.links p {
    margin-bottom: 0%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}
/*----------------NAVIGATION-----------------*/

nav {
    background: #1c1c1c80;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 10px;
}

a {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0;
    padding: 0;    
}

ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.column-containers {
    gap: 20px;
}

article {
    background-color: rgba(0, 0, 0, 0.678);
    margin-top: 10px;

    height: auto;
    min-height: 200px;

    color: white;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    
    gap: 20px;
    border-color: gray;
    border-style: solid;
    justify-items: center; 
}

img {
    width:500px; 
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
   ;
}

.article-table {
    display: flex;
    gap: 5px;

    article {
        flex: 1;
    }
}

p {
    text-align: justify;
}

article {
    padding: 20px;
}



/*-----------------SA TABLE TUNGKOL SA ML-------------*/
th {
    background-color: #ffffff70;
    padding: 5px;
    border-radius: 10px;
}

td {
    background-color: #ffffff2c;
    padding: 8px;
    border-radius: 10px;
}

h1 {
    margin: auto 0%;
}

/*-----------------BATTLE MODES----------------------*/
.game-mode-title {
    justify-content: center;

    display: flex;
    flex-direction: row;
    gap: 30px;

    div {
        display: flex;
        flex-direction: column;
    }

    .mode-photo {
        width: 150px;
       
    }

    h2 {
        font-family: 'Times New Roman', Times, serif;
        color: white;
        
        margin-top: 0%;
    }
}

.game-mode {
    text-align: center;

    padding: 10px;
    margin: 10px;

    h1 {
        margin-bottom: 10px;
        color: white;
    }
}


/*-----------------------------------------------------*/

img {
    WIDTH: 100%;
    margin: 0 auto;
}

.heroes-experience{
    display: flex;
    gap: 10px;
    
    article {
        flex: 1;
    }

    .title-content {
        display: flex;
        flex-direction: row;
        justify-content: center; /* o flex-start */
        gap: 5px;
        
        padding: 15px;
    }

    section {
        display: flex;
        flex-direction: column-reverse;

        background-color: rgba(0, 255, 255, 0.068);

        transform: skewX(-5deg);

    p {
        margin: auto 0%;
        font-family:Arial, Helvetica, sans-serif;
        align-self: center;
        color: rgba(0, 255, 255, 0.665);
        text-align: justify;
    }

    img {
        width: 100%;
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100% );
    }
    }
}
/*----------MAP SECTION----------------*/
.battlefield {
    display: flex;

    gap: 30px;
    padding: 10px;

    justify-content: center;
    text-align: center;
    color: white;

    background: linear-gradient(
    to bottom,
        rgba(255, 0, 0, 0.501) 0%,
        rgba(255, 0, 0, 0.352) 25%,
        rgba(10, 105, 248, 0.564) 100%
    );

    border: 3px solid;
    border-image: linear-gradient(
        to bottom,
        rgba(243, 3, 3, 0.861),
        rgba(2, 30, 239, 0.994)
    ) 1;

    th {
        background-color: rgba(2, 0, 0, 0.524);
    }
    
    td {
        background-color: rgba(0, 0, 0, 0.223);
    }

}

.map {
    width: 700px;
}

.lanes {
    display: flex;
    gap: 20px;
    align-items: center;

    color: white;

    img {
        width: 35%;
    }

    p {
        background-color: rgba(0, 0, 0, 0.223);
        padding: 15px;
        border-radius: 30px 0px;
    }
}

/*-------------------------------------------------------*/
.rank-section {
    justify-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.rank {
    background-color: rgba(7, 189, 189, 0.108);

    border: 1px solid;
    border-color: rgb(3, 79, 98);
    color: white;

    padding: 10px;

    margin: 0px;
    transform: skewX(-3deg);


    img {
        width: 150px;
    }
}

.rank-flexcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

    text-align: center;

    align-items: center;

    margin: 10px;
    margin-bottom: 20px;

    .warrior-epic,
    .legend-immortal {
        display: flex;
        gap: 30px;

        p{
            text-align: center;
            margin: 0px;
        }

        h2 {
            margin-top: 0%;
        }
    }
}

.description-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rank-system,
.draft-pick {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 15px;

    h1, p{
        color: white;
        justify-self: center;
    }
}

.rank-system {
    border-radius: 30px 0;
}
.draft-pick {
    border-radius: 0 30px;
}

/*-----------  HERO ROLES ---------------*/
.map-position-section {
    text-align: center;
}

.positions img {
    width: 150px;
    
    margin: 0 auto;
}

.line-up-roles {
    display: flex;
    gap: 50px;

    justify-content: center;

    color: white;

    h2 {
        margin-bottom: 0%;
    }
}