body {
    background: url(../PHOTOS/background.jpg) center/cover no-repeat;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
}

header {
    background-color: rgb(1, 1, 43);

    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0%;
}

.logo {
    width: 250px;
}

nav {
    background: #1c1c1c80;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 10px;
}

a {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0;
    padding: 0;    
}

ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    background-color: rgb(1, 1, 43);
    color: rgb(255, 255, 255);

    border-radius: 10px;
    padding: 5px;
    margin: 0%;
    margin-top: 5px;   
}

.footer-logo {
    width: 50px;
}

.platforms {
    width: 30px;
    background-color: rgb(126, 208, 255);
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 5px;
}

.links p {
    margin-bottom: 0%;
}



/*-------------------FORM-------------*/
.third-page-main{
    width:95%;
    margin:20px auto;

    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;

    gap:5px;
    color: white;
}

.squadinfo{
    width:240px;
    padding:20px;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    border-radius:15px;
    box-sizing:border-box;
    text-align:center;
    flex-shrink:0;
}

.formcontainer{
    width: 560px;
    display:flex;
    justify-content:center;
}

form{
    padding: 10px 30px;   /* top/bottom 30px, left/right 45px */
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    border-radius:15px;
    width:100%;
    max-width:560px;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    border-radius:15px;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

input, textarea, select {
    border-radius: 15px 0;
    padding: 10px;
}

.formgroup{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.formgroup label{
    width: 150px;   /* pare-pareho ang lapad ng labels */
    font-weight: bold;
}

.formgroup input,
.formgroup select{
    flex: 1;
    max-width: 200px;
}

.requirements{
    padding: 10px;
    width:280px;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
    border-radius:15px;
    box-sizing:border-box;
    flex-shrink:0;
}
.requirements h1{
    text-align:center;
    margin-bottom:25px;
}

.requirements p{
    margin:18px 0;
    line-height:1.8;
    font-size:15px;
    word-break:break-word;
}

.squadpic{
    width: 180px;
    height: auto;

    margin-bottom: 20px;

    object-fit: contain;
}

.submit {
    background-color: goldenrod;
    border-color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.reset {
    background-color: rgba(220, 220, 207, 0.729);
    border-color: rgba(255, 230, 230, 0.678);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 8px;
}

.requirements p{
    margin: 18px 0;
    line-height: 1.8;
    font-size: 16px;
}
.requirements b{
    color: #ffffff;
    font-weight: bold;
}
