<!DOCTYPE html>
<html>
    <head>
        <title>ML PROFILE</title>
        <link rel="stylesheet" href="../STYLE/articles.css">
    </head>

    <body>
        <header>
            <img class="logo" src="../PHOTOS/gamelogo.png" alt="game logo">
        </header>

        <nav>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="abtgame.html">ABOUT MLBB</a></li>
                <li><a href="formAndLInk.html">JOIN US!</a></li>
            </ul>
        </nav>

        <main>

            <!--BATTLE MODES-->
            <section>
                <h1>MLBB BATTLE MODES</h1>
                <article id="classic">
                    <img src="../PHOTOS/classic.webp">
                    <p><b>Classic Mode</b> is a casual game mode where players can enjoy battles without affecting their rank. It is a great place to practice new heroes, builds, strategies, and different playstyles. Two teams compete against each other with the main objective of destroying the enemy base. Since there are no stars or rank points at stake, players can freely experiment and improve their skills. It is perfect for players who want to enjoy a relaxed and fun Mobile Legends experience.</p>
                </article>

                <article id="ranked">
                    <img src="../PHOTOS/ranked.webp">
                    <p><b>Ranked Mode</b> is a competitive game mode where every victory and defeat affects a player's rank. Players must use teamwork, strategy, and game sense to climb through the ranking system. As players reach higher ranks, the matches become more challenging and competitive. Proper hero selection, coordination, and decision-making are essential to achieving victory. This mode is perfect for players who want to test their true skills and compete for higher ranks.</p>
                </article>

                 <article id="brawl">
                    <img src="../PHOTOS/brawl.webp">
                    <p><b>Brawl Mode</b> is a dast-paced, action packed match that takes place on a single lane with no jungle. players choose from two randomly assigned heroes, forcing everyone to adapt quickly to unfamiliar characters and playstyles. Two teams of five engage in constant team fights with the main goal of destroying the enemy's two defence turrets and core. Healing and buying items at the base are strictly disaled, making map control over healing packs and strategic elimination crucial for survival. Since matches typically finish within 5 to 10 mninutes, it is the perfect mode for practicing combat and earning quick battle points.</p>
                </article>

                <article id="arcade">
                    <img src="../PHOTOS/arcade.webp">
                    <p><b>Arcade Mode</b> offers a variety of unique and exciting game modes with different rules and gameplay mechanics. Unlike traditional battles, these modes often introduce special challenges and creative ways to play. The matches can be faster, more unpredictable, and filled with entertaining gameplay experiences. Players can enjoy different mini-games and special modes depending on the available events. It is perfect for those looking for a fun and refreshing way to enjoy Mobile Legends.</p>
                </article>

                <article id="custom">
                    <img src="../PHOTOS/custom.webp">
                    <p><b>Custom Mode</b> allows players to create and customize their own matches. Players can invite friends, squad members, or other players to join their games. It is commonly used for friendly matches, practice sessions, tournaments, and team training. The mode provides a controlled environment where players can adjust the match according to their preferences. It is a flexible game mode that allows players to enjoy Mobile Legends in their own way.</p>
                </article>

                <article id="vs-ai">
                    <img src="../PHOTOS/VS._AI.webp">
                    <p><b>VS. AI</b> is a game mode where players battle against computer-controlled opponents. It is an excellent way for beginners to learn the basic mechanics, skills, and objectives of the game. Experienced players can also use this mode to practice new heroes, builds, and strategies. Since the opponents are controlled by artificial intelligence, the matches provide a more relaxed and less stressful experience. It serves as a useful training ground before entering more competitive battles.</p>
                </article>

                <article id="rising-open">
                    <img src="../PHOTOS/rising.png">
                    <p><b>Rising Open</b> is a competitive tournament-style mode that allows players to showcase their skills and teamwork. Players must demonstrate strong communication, coordination, strategy, and consistent performance throughout the competition. Every match can be challenging, as even the smallest decision may affect the outcome of the game. Teams compete against one another while aiming to achieve a higher standing and prove their abilities. It is ideal for players who are ready to face intense competition and take their gameplay to the next level.</p>
                </article>
            </section><br><br>

            <!--HERO ROLES-->
            <section>
                <h1>LINE-UP ROLES / MAP POSITIONS</h1>
                <article id="gold">
                    <img src="../PHOTOS/gold.jpg">
                    <section class="description">
                        <h3>Gold Laner</h3>
                        <p>Marksman</p>
                        <ul>
                            <li>
                                Gold Laners are reletively weak in the early game, but can accumulate equipment items more quickly by killing the Siege Minions that offer extra gold, which can provide the team with a strong continous damage ability in the late game.
                            </li>
                        </ul>
                    </section>                   
                </article>

                <article id="roam">
                    <img src="../PHOTOS/roam.jpg">
                    
                    <section class="description">
                        <h3>Roamer</h3>
                        <p>Tank / Support</p>
                        <ul>
                            <li>
                                Roamers can have strong early-game combat and teamfight capabilities without relying on equipment. It is recommended to buying Roaming Equipment Items and follow a teammate in the early game to get extra gold and experience.
                            </li>
                        </ul>  
                    </section>                 
                </article>

                 <article id="mid">
                    <img src="../PHOTOS/mid.png">

                    <section class="description">
                        <h3>Mid Laner</h3>
                        <p>Mage</p>
                        <ul>
                            <li>
                                After reaching a certain level, they can deal considerable AoE damage to clear lanes efficiently. It is recommended to take advantage of turrents to farm steadily in the early game, and be ready to back up and roam in the middle game.
                            </li>
                        </ul> 
                    </section>                  
                </article>

                 <article id="jungle">
                    <img src="../PHOTOS/jungler.jpg">

                    <section class="description">
                    <h3>Jungler</h3>
                    <p>Assasin / Fighter / Tank</p>
                        <ul>
                            <li>   
                            They have high mobility and have the potential to burst on single targets. In the early game, they can level up quickly by killing creeps and find chances to kill lone enemies by teamwork. It is recommended to buy Jungling Equipment Footwear Items and use Spell Retribution Retribution to get bonus from killing creeps. 
                            </li>
                        </ul>
                    </section>                   
                </article>

                 <article id="exp">
                    <img src="../PHOTOS/exp.jpg">

                    <section class="description">
                    <h3>EXP Laner</h3>
                    <p>Fighter / Tank</p>
                        <ul>
                            <li>   
                                They can both fight, tank and level up quickly by killing Siege Minions that offer extra EXP.
                            </li>

                            <li>
                                In the early game, they can make a great contribution in scrambling for the first Turtle.
                            </li>
                        </ul>
                    </section>                   
                </article>

            </section>
        </main>

        <footer>
            <p>&copy; Krysxainna 2026. All Rights Reserved.</p>
            
            <img class="footer-logo" src="../PHOTOS/ml-logo.png" alt="mllogo">

            <section class="links">
                <p>Visit MLBB Socials</p>
                <a class="socials" href="https://www.facebook.com/mobilelegendsgame?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/facebook.svg" alt="Facebook"></a>
                <a class="socials" href="https://www.instagram.com/mobilelegendsgame?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/instagram.svg" alt="Instagram"></a>
                <a class="socials" href="https://www.tiktok.com/@mlbbttofficial?is_from_webapp=1&sender_device=pc" target="_blank"><img class="platforms" src="../SVG/tiktok.svg" alt="TikTok"></a>
                <a class="socials" href="https://www.youtube.com/@MobileLegends5v5MOBA?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/youtube.svg" alt="YouTube"></a>
                <a class="socials" href="https://x.com/MobileLegendsOL?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/x.svg" alt="X"></a>
                <a class="socials" href="https://discord.gg/mobilelegendsbangbang?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/discord.svg" alt="Discord"></a>
                <a class="socials" href="https://t.me/MobileLegendsOL?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/telegram.svg" alt="Telegram"></a>
            </section>
        </footer>    
    </body>
</html>