<!DOCTYPE html>
<html>
    <head>
        <title>ML PROFILE</title>
        <link rel="stylesheet" href="../STYLE/form.css">
    </head>

    <body>
        <header>
            <img class="logo" src="../PHOTOS/gamelogo.png" alt="game logo">
        </header>

        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="abtgame.html">ABOUT MLBB</a></li>
                <li><a href="formAndLInk.html">JOIN US!</a></li>
            </ul>
        </nav>

        <main class="third-page-main">

            <section class="squadinfo">
                <img class="squadpic" src="../PHOTOS/squadpic.png" alt="squad pic">
                <h1>MEYT</h1>
                <h2>KLAZMEYTS</h2>

                <p>Active Score: 16279</p>
                <p>Squad ID: 5737093</p>
                <p>Lv. 10 Squad</p>
            </section>

            <section class="formcontainer">
                <form>
                    <center><h2>SQUAD RECRUITMENT FORM</h2></center>
                    <ol>
                        <div class="formgroup">
                            <li><b><label for="gamerName">Player name:</label></b></li>
                            <input type="text" name="gamerName" placeholder="Surname, Firstname" required><br><br>
                        </div>

                        <div class="formgroup">
                            <li><b><label for="gamerIGN">IGN:</label></b></li>
                            <input type="text" name="gamerIGN" placeholder="ex. P 4 k B 3 T" required><br><br>
                        </div>

                        <!--RADIOBUTTON-->
                        <li><b><label for="gamerRole">Main Role:</label></b></li>
                        <input type="radio" name="gamerRole" value="marksman">Marksman<br>
                        <input type="radio" name="gamerRole" value="tank">Tank<br>
                        <input type="radio" name="gamerRole" value="mage">Mage<br>
                        <input type="radio" name="gamerRole" value="assasin">Assasin<br>
                        <input type="radio" name="gamerRole" value="support">Support<br>
                        <input type="radio" name="gamerRole" value="fighter">Fighter<br><br>

                        <!--CHECKBOX-->
                        <li><b><label for="lanesPlayed">What lanes you can play? (You can choose more than 1.)</label></b></li>
                        <input type="checkbox" name="lanesPlayed" value="goldlane">Gold Lane<br>
                        <input type="checkbox" name="lanesPlayed" value="jungle">Jungle<br>
                        <input type="checkbox" name="lanesPlayed" value="midlane">Mid Lane<br>
                        <input type="checkbox" name="lanesPlayed" value="explane">Exp Lane<br>
                        <input type="checkbox" name="lanesPlayed" value="roam">Roam<br><br>


                        <!--DROPDOWN-->
                        <div class="formgroup">
                            <li><b><label for="rank">Highest Rank Obtained:</label></b></li>
                            <select name="rank">
                                <option value="">- - Select Rank - -</option>
                                <option value="warrior">Mythic</option>
                                <option value="warrior">Mythical Honor</option>
                                <option value="warrior">Mythical Glory</option>
                                <option value="warrior">Mythical Immortal</option>
                            </select><br><br>
                        </div>
                        <!--TEXTAREA-->
                        <li><b><label for="whyJoin">Why do you want to join our squad?</label></b></li>
                        <textarea name="whyJoin" rows="4" cols="50" placeholder="Put your reason here."></textarea>
                    </ol>

                    <!--BUTTON-->
                    <section class="buttons">
                        <button class="submit" type="submit">Submit</button>
                        <button class="reset" type="reset">Reset</button>
                    </section>
                </form>
            </section>

            <section class="requirements">
                <h1>REQUIREMENTS</h1>

                <p><b>Level:</b> Level 30</p>

                <p><b>Rank:</b> Current Mythic and above.</p>

                <p><b>Win Rate:</b> At least 50% to 60% WR in the current season.</p>

                <p><b>Role:</b> Must have dedicated main role. (e.g., Main Roamer, Main Core)</p>

                <p><b>Availability:</b> Active during evenings for 5-man rank.</p>

                <p><b>Attitude:</b> Open for constructive criticism and possesses high map awareness.</p>
                
            </section>
        </main>

        <footer>
            <p>&copy; Krysxainna 2026. All Rights Reserved.</p>
        
             <img class="footer-logo" src="../PHOTOS/ml-logo.png" alt="mllogo">

            <section class="links">
                <p>Visit MLBB Socials</p>
                <a class="socials" href="https://www.facebook.com/mobilelegendsgame?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/facebook.svg" alt="Facebook"></a>
                <a class="socials" href="https://www.instagram.com/mobilelegendsgame?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/instagram.svg" alt="Instagram"></a>
                <a class="socials" href="https://www.tiktok.com/@mlbbttofficial?is_from_webapp=1&sender_device=pc" target="_blank"><img class="platforms" src="../SVG/tiktok.svg" alt="TikTok"></a>
                <a class="socials" href="https://www.youtube.com/@MobileLegends5v5MOBA?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/youtube.svg" alt="YouTube"></a>
                <a class="socials" href="https://x.com/MobileLegendsOL?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/x.svg" alt="X"></a>
                <a class="socials" href="https://discord.gg/mobilelegendsbangbang?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/discord.svg" alt="Discord"></a>
                <a class="socials" href="https://t.me/MobileLegendsOL?utm_source=chatgpt.com" target="_blank"><img class="platforms" src="../SVG/telegram.svg" alt="Telegram"></a>
            </section>
        </footer>    
    </body>
</html>